apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base
  - ../../../../../manifests/kustomize/env/platform-agnostic-minio

patches:
  - path: apiserver-env.yaml
    target:
      kind: Deployment
      name: ml-pipeline